<html>
    <body>
        
        <p>I have been viewed  <%= clicky %> times</p>
        <form action="/clicked" method="Post">
            <input type="submit" value="Click Me" name"click">
        </form>

        <form action="/clicked2" method="Post">
            <input type="submit" value="+2" name"click2">
        </form>

    </body>
</html>