<!DOCTYPE html>
<html>
<head>
	<title>Results</title>

</head>
<body>
	Name: <p>@ViewBag.name</p><br> 
	Dojo Location: <p>@ViewBag.location</p><br>
	Favorite Language: <p>@ViewBag.language</p><br>
	Comment(optional): <p>@ViewBag.comment</p><br>

	<form action="/" method="GET">
	<input type="submit" value="Go Back">
	</form>
          
</body>
</html>