<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
        
    </head>
    <body>
        <h1>Home page</h1>
        <a href="projects">Projects</a>
        <a href="contact">Contact</a><br>
        <img src="~/images/USA.jpg" alt="profile image">
        <h3>My Name is Allyse</h3>
        <h4>About me:</h4>
        <p>blah blah blah</p>
    </body>
</html>