<!DOCTYPE html>
<html>
<head>
	<title>Random Passcode</title>
</head>
<body>
    <p>Random Passcode @ViewBag.count</p>
    <p>@ViewBag.num</p>
    <form action="/" method="GET">
        <input type="submit" value="Generate">
    </form>
</body>
</html>