@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h2>Pokemon</h2>
        <ul>
            <li>Description of the selected Pokemon</li>
            Name: <p>@ViewBag.name</p>
            Height: <p>@ViewBag.height</p>
            Weight: <p>@ViewBag.weight</p>
        </ul>
    </div>
    

</div>
