<!DOCTYPE html>
<html>
<head>
	<title>Dojodachi</title>
</head>
<body>
    <p>Fullness</p> <p>Happiness</p> <p>Meals</p> <p>Energy</p>

    <div>
        <img alt="image place holder">
        <p>actions string place holder</p>
    </div>
    <form action='result' method='POST'>
        <input type='submit' value='Restart'>

    </form>
</body>