<!DOCTYPE html>
<html>
<head>
	<title>Results</title>

</head>
<body>
	Name: <p><%=answer.name%></p><br> 
	Dojo Location: <p><%=answer.location%></p><br>
	Favorite Language: <p><%=answer.language%></p><br>
	Comment(optional): <p><%=answer.comment%></p><br>

	<form action="/" method="GET">
	<input type="submit" value="Go Back">
	</form>
          
</body>
</html>