<!DOCTYPE html>
<html>
<head>
	<title>All Animals</title>

</head>
<body>
    <h1>Otter Details</h1>
    
        <h3>Name: <%= animals.name %></h3>
        <h4>Pack Details: <%= animals.pack_details %></h4>
        <a href="/">Home</a>
        <a href="/delete/<%= animals._id %>">delete</a>
        <a href="/update/<%= animals._id %>">update</a>
        <hr>       
</body>
</html>