@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <h2>Welcome to QuotingDojo</h2>
        <form action="add/quote" method="Post">
            Your Name: <input type="text" name="addedby">
            Your Quote: <input type="quote" name="quote">
            <input type="submit" name="addquote" value="Add My Quote">
        </form>
        <form action="skip" method="Post">
            <input type="submit" name="skip" value="Skip To Quotes">
        </form>
    </div>
   
</div>
